main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000;
    color: white;
}

main {
    background: red;
}

.header {
    background:blue;
}

.navy {
    background: orange;
}

.job {
    background: green;
}

.places {
    background:hotpink;
}

.footer {
    background: purple;
}